@media screen and (max-width: 1024px) {
    body {
        font-size: 10px;
        background-image: url('../images/background_mobile.png');
    }

    h1,
    .h1 {
        font-size: 1.8em;
    }

    h1.whiteShadow {
        text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    }

    .dropdown-menu > li > a {
        font-size: 10px;
    }

    .h3, h3 {
        font-size: 16px;
        text-align: center;
    }

    .wrapper-current-deck {
        height: 90vw;
        margin: 0 -15px;
        padding: 26px 13% 24px 12%;

    }

    .level-container span {
        position: absolute;
        top: 16%;
        left: 27%;
        font-size: 12px;
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .deckLinkHand {
        position: absolute;
        top: -4%;
        left: 66%;
    }

    .wrapper-current-deck h3 {
        position: absolute;
        top: 0.2%;
        left: 12%;
        font-size: 1.3rem;
    }

    .elixir-average {
        position: absolute;
        right: 33%;
        bottom: 6%;
        color: #dc55e4;
        font-size: 1rem;
    }

    .wrapper-current-deck img {
        padding-top: 23px;
        vertical-align: bottom;
        margin-left: 1px;
    }

    .clan-dons {
        display: none;
    }

    .card-shadow {
        position: absolute;
        border-radius: 8%;
        width: 100%;
        height: 74%;
        top: 22%;
        margin-left: 2px;
    }

    .standing-div {
        float: left;
        width: 25%;
        overflow: hidden;
    }

    .results-div {
        float: left;
        width: 75%;
        overflow: hidden;
        height: 115px;

    }

    .standings-s-div {
        height: 115px;
    }

    .participants-div, .battles-div, .wins-div, .crowns-div, .clan-trophies-div {
        margin-top: 0;
        margin-left: 10%;
    }

    .clan-trophies-div {
        width: 80px;
        top: -58px;
    }

    .participants-div {
        width: 80px;
        left: 43%;
        top: -34px;
        padding: 0 15px 0 37px;
    }

    .battles-div {
        margin-top: 1em;
        width: 80px;
        left: -44%;
        padding: 0 15px 0 37px;
    }

    .wins-div {
        margin-top: 1em;
        width: 80px;
        left: 43%;
        top: 34px;
        padding: 0 15px 0 37px;
    }

    .crowns-div {
        margin-top: 1em;
        width: 80px;
        top: 70px;
        left: -1%;
        padding: 0 15px 0 37px;
    }

    .clan-trophies-img {
        position: absolute;
        left: -19px;
        top: -4px;
    }

    .participants-img {
        position: absolute;
        left: -14px;
        top: -5px;
    }

    .battles-img {
        position: absolute;
        left: -15px;
        top: -3.3px;
    }

    .wins-img {
        position: absolute;
        left: -11px;
        top: -5px;
    }

    .crowns-img {
        position: absolute;
        left: -23px;
        top: -5px;
    }

    .clan-result-badge {
        height: 130px;
    }

    .clan-participants-div {
        width: 100px;
        left: 3%;
        margin-top: 0;
        padding: 0 15px 0 45px;
        top: -20%;
    }

    .clan-non-participants-div {
        width: 100px;
        margin-top: 0;
        left: 26.5%;
        padding: 0 15px 0 45px;
        top: -20%;
    }

    .clan-non-participants-img {
        position: absolute;
        left: -15px;
        top: -5px;
    }

    .played-div {
        margin-top: 0;
        width: 100px;
        left: -60%;
        padding: 0 15px 0 45px;
        top: 14%;
    }

    .played-img {
        position: absolute;
        left: -18px;
        top: -4px;
    }

    .clan-wins-div {
        width: 100px;
        left: 42%;
        margin-top: 0;
        padding: 0 15px 0 45px;
        top: 36%;
    }

    .clan-cards-div {
        width: 150px;
        margin-top: 0;
        left: -25%;
        padding: 0 15px 0 50px;
        top: 77%;
    }

    .clan-cards-img {
        position: absolute;
        left: -18px;
        top: -5px;
    }

    .player-chests {
        left: 0;
        top: 0;
    }

    .player-results-badge {
        height: 250px;
    }

    .collections-span {
        position: relative;
        left: 37%;
    }

    .battles-span {
        position: relative;
        left: 39%;
    }

    .player-collection-results {
        height: 50px;
    }

    .player-war-results {
        height: 15px;
    }

    .player-war-results {
        height: 15px;
    }

    .player-played-div {
        left: -16%;
        top: -20%;
        width: 75px;
        padding: 0 15px 0 30px;
    }

    .player-played-img {
        position: absolute;
        left: -23%;
        top: -10%;
    }

    .player-wins-div {
        left: 23%;
        top: -20%;
        width: 75px;
        padding: 0 15px 0 30px;
    }

    .player-wins-img {
        position: absolute;
        left: -15%;
        top: -15%;
    }

    .player-cards-div {
        left: -33%;
        top: 55%;
        width: 90px;
        padding: 0 15px 0 30px;
    }

    .player-cards-img {
        position: absolute;
        left: -15%;
        top: -25%;
    }

    .player-war-played-div {
        left: -44%;
        width: 75px;
        padding: 0 15px 0 30px;
    }

    .player-war-wins-div {
        left: -5%;
        width: 75px;
        padding: 0 15px 0 30px;
    }

    #warSearchInput {
        float: none !important;
        position: relative;
        left: 21%;
        top: 0;
    }

    .noSort:before, .noSort:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        width: 0;
        position: relative;
    }

    .noSort:before {
        border-bottom-color: lightblue;
        margin-top: 0;
    }

    .noSort:after {
        border-top-color: lightblue;
        margin-top: -12px;
    }

    .descSort:before, .descSort:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        width: 0;
        position: relative;
    }

    .descSort:before {
        margin-top: 0;
    }

    .descSort:after {
        border-top-color: lightblue;
        margin-top: -12px;
    }

    .ascSort:before, .ascSort:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        width: 0;
        position: relative;
    }

    .ascSort:before {
        border-bottom-color: lightblue;
        margin-top: 0;
    }

    .ascSort:after {
        margin-top: -12px;
    }

    .cantSort:before, .cantSort:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        width: 0;
        position: relative;
    }

    .cantSort:before {
        margin-top: 0;
    }

    .cantSort:after {
        margin-top: -10px;
    }

    .collectionRankIndex:before, .collectionRankIndex:after {
        left: 100%;
        top: 6px;
    }

    .collectionPlayerIndex:before, .collectionPlayerIndex:after {
        left: 50%;
        top: 6px;
    }

    .collectionCollectionIndex:before, .collectionCollectionIndex:after {
        left: 73%;
        top: 6px;
    }

    .warRankIndex:before, .warRankIndex:after {
        left: 100%;
        top: 6px;
    }

    .warPlayerIndex:before, .warPlayerIndex:after {
        left: 48%;
        top: 6px;
    }

    .warBattleIndex:before, .warBattleIndex:after {
        left: 78%;
        top: 6px;
    }

    .warCollectionIndex:before, .warCollectionIndex:after {
        left: 70%;
        top: 6px;
    }
}