RewriteEngine on

RewriteRule ^index$                  /index.php
RewriteRule ^clan$                   /clan.php
RewriteRule ^war$                    /war.php
RewriteRule ^war_decks$              /war_decks.php
RewriteRule ^war_stats$              /war_stats.php
RewriteRule ^rules$                  /rules.php
RewriteRule ^admin$                  /admin.php
RewriteRule ^account_manager$        /account_manager.php
RewriteRule ^login$                  /login.php

RewriteRule ^/player/(.*)/([0-9]+)   /player.php?tag=$1
RewriteRule ^/index/(.*)/([0-9]+)    /index.php?$1
