<div class="container">
    {if $war->getState() == "notInWar"}
    <div class="row text-center">
        <h3 class="whiteShadow">Il n'y a pas de guerre en cours</h3>
    </div>
    {elseif $war->getState() == "collectionDay" || $war->getState() == "warDay"}
    <div class="war-badge badge-div">
        <div class="pull-right whiteShadow trophy-div hideOnUpdate">
            <img src="/images/ui/clan-trophies.png" height="30px" class="clan-trophies-img"/>
            <span>{$currentTrophies}</span>
        </div>
        <div class="flex">
            <h1 class="whiteShadow">
                Guerre n°{$war->getId()}<br>
                <span class="small whiteShadow">{$war->getStateName()}</span>
            </h1>
        </div>
        <div>
                <span class="whiteShadow">
                    Fin le <b>{$war->getEndTime()|date_format:"%d/%m/%y à %H:%M"}</b>
                    {if $war->getState() == "warDay"}
                        <br><a href="/war_decks">Voir les decks de guerres utilisés</a>
                    {/if}
                </span>
        </div>
    </div>
    {/if}
</div>
<div class="container">
    {if $war->getState() == "warDay"}
    <h3 class="whiteShadow">Résultats des clans</h3>
    <div class="standings-badge badge-div">
        {foreach name=standings_foreach from=$war->getStandings() item=standing}
        <div class="standings-s-div">
            <div class="standing-div">
                <div class="flex">
                    <span class="whiteShadow text-center clan-rank" data-pos="{$standing->getRank()}">{$standing->getRank()}</span>&nbsp;
                    <span class="whiteShadow clan-name">{$standing->getName()}</span>
                </div>
            </div>
            <div class="results-div hideOnUpdate">
                <div class="pull-right whiteShadow crowns-div trophy-div clan-crows-div">
                    <img src="/images/ui/crowns.png" height="30px" class="crowns-img"/>
                    <span>{$standing->getCrowns()}</span>
                </div>
                <div class="pull-right whiteShadow wins-div trophy-div">
                    <img src="/images/ui/war-win.png" height="30px" class="wins-img"/>
                    <span>{$standing->getBattleWon()}</span>
                </div>
                <div class="pull-right whiteShadow battles-div trophy-div">
                    <img src="/images/ui/war-battle.png" height="30px" class="battles-img"/>
                    <span>{$war->getMaxBattle() - $standing->getBattlePlayed()}</span>
                </div>
                <div class="pull-right whiteShadow participants-div trophy-div">
                    <img src="/images/ui/participants.png" height="30px" class="participants-img"/>
                    <span>{$standing->getParticipants()}</span>
                </div>
                <div class="pull-right whiteShadow clan-trophies-div trophy-div">
                    <img src="/images/ui/clan-trophies.png" height="30px" class="clan-trophies-img"/>
                    <span>{$standing->getWarTrophies()}</span>
                </div>
            </div>
        </div>
        {if not $smarty.foreach.standings_foreach.last}
        <hr>
        {/if}
        {/foreach}
    </div>
    {elseif $war->getState() == "collectionDay"}
    <h3 class="whiteShadow">Résultats du clan</h3>
    <div class="clan-result-badge badge-div hideOnUpdate">
        <div class="pull-right whiteShadow clan-cards-div trophy-div">
            <img src="/images/ui/deck.png" height="30px" class="clan-cards-img"/>
            <span id="numberOfCardsEarned">{$clanResult->getCardsEarned()}</span>
        </div>
        <div class="pull-right whiteShadow clan-wins-div trophy-div">
            <img src="/images/ui/war-win.png" height="30px" class="wins-img"/>
            <span id="numberOfCollectionWon">{$clanResult->getCollectionWon()}</span>
        </div>
        <div class="pull-right whiteShadow played-div trophy-div">
            <img src="/images/ui/battle.png" height="30px" class="played-img"/>
            <span id="numberOfCollectionPlayed">{$clanResult->getCollectionPlayed()}</span>
        </div>
        <div class="pull-right whiteShadow clan-non-participants-div trophy-div">
            <img src="/images/ui/non-participants.png" height="30px" class="clan-non-participants-img"/>
            <span id="numberOfMissing">{$missingPlayers}</span>
        </div>
        <div class="pull-right whiteShadow clan-participants-div hideOnUpdate trophy-div">
            <img src="/images/ui/participants.png" height="30px" class="participants-img"/>
            <span id="numberOfParticipant">{$numberOfParticipants}</span>
        </div>
    </div>
    {/if}
</div>
<div class="container">
    {if $war->getState() != "notIntWar"}
    <h3 class="whiteShadow">Résultats par joueur</h3>
    <input id="warSearchInput" type="text" placeholder="Chercher un joueur" class="pull-right"/>
    <div class="divCurrentWar table-responsive war-table-div">
        <table id="playersTable" class="table table-hover war-table">
            <thead>
            <tr class="rowIndex">
                <th class="text-center warHeadIndex noSort collectionRankIndex" id="rankHead" data-head="rank">Rang</th>
                <th class="warHeadIndex cantSort" data-head="player">Joueur</th>
                {if $war->getState() == "warDay"}
                    <th id="warBattleTh" class="text-center warHeadIndex noSort warBattleIndex" colspan="2" data-head="battle">Batailles</th>
                {/if}
                <th class="text-center warHeadIndex collectionCollectionIndex noSort" colspan="3" data-head="collection">Collections</th>
            </tr>
            </thead>
            <tbody id="js-war-body">
            {foreach from=$war->getResults() item=playerResult}
            {if ($playerResult->getCollectionPlayed() > 0 && $war->getState() == "warDay") || ($war->getState() == "collectionDay")}
            <tr class="pointerHand playerTr">
                <td class="whiteShadow text-center rank">
                    <div><span class="last-place js-rank">{$playerResult->getRank()}</span></div>
                </td>
                <td class="whiteShadow"><a class="linkToPlayer js-player-name" href="player/{$playerResult->getTag()}">{utf8_encode($playerResult->getName())}</a>
                </td>
                {if $war->getState() == "warDay"}
                    <td class="whiteShadow text-center">Jouées<br>{$playerResult->getBattlePlayed()}</td>
                    <td class="whiteShadow text-center js-battle">Gagnées<br>{$playerResult->getBattleWon()}</td>
                {/if}
                <td class="whiteShadow text-center js-collection">Jouées<br>{$playerResult->getCollectionPlayed()}</td>
                <td class="whiteShadow text-center js-collection-won">Gagnées<br>{$playerResult->getCollectionWon()}</td>
                <td class="whiteShadow js-cards-earned"><img src="/images/ui/deck.png" height="35px"/>&nbsp;{$playerResult->getCardsEarned()}
                </td>
            </tr>
            {/if}
            {/foreach}
            </tbody>
        </table>
    </div>
    {/if}
</div>
<div id="loaderDiv">
    <img id="loaderImg" src="/images/loader.gif"/>
</div>
<br>
<div class="row text-center">
    {if $lastUpdated != null}
    <span class="whiteShadow">
            Dernière mise à jour le : <b>{$lastUpdated|date_format:"%d/%m/%Y"}</b> à <b>{$lastUpdated|date_format:"%H:%M"}</b>
        </span>
    {else}
    <span class="whiteShadow">Nécessite une mise à jour</span>
    {/if}
</div>